.so-widget-ink-accordion-accordion-00ba80b4d8ea .iw-so-accordion .iw-so-acc-item {
  margin-bottom: 12px;
}
.so-widget-ink-accordion-accordion-00ba80b4d8ea .iw-so-accordion .iw-so-acc-item .iw-so-acc-title {
  background: transparent;
  color: #333;
  padding-right: 3.5em;
}
.so-widget-ink-accordion-accordion-00ba80b4d8ea .iw-so-accordion .iw-so-acc-item .iw-so-acc-title:hover {
  background: transparent;
  color: #666;
}
.so-widget-ink-accordion-accordion-00ba80b4d8ea .iw-so-accordion .iw-so-acc-item .iw-so-acc-title span {
  right: 7px;
}
.so-widget-ink-accordion-accordion-00ba80b4d8ea .iw-so-accordion .iw-so-acc-item .iw-so-acc-title .iw-so-tgl-close {
  color: #333;
}
.so-widget-ink-accordion-accordion-00ba80b4d8ea .iw-so-accordion .iw-so-acc-item .iw-so-acc-title .iw-so-tgl-open {
  color: #333;
}
.so-widget-ink-accordion-accordion-00ba80b4d8ea .iw-so-accordion .iw-so-acc-item .iw-so-acc-content {
  background: transparent;
}