.so-widget-sow-image-default-46f30e3d504b .sow-image-container {
  text-align: center;
}
.so-widget-sow-image-default-46f30e3d504b .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}