<div class="wrap timely ticketing" style="max-width: 550px;">
	<h2>{{ title | raw }}</h2><br>
	<div id="poststuff" style="min-width:550px;">
		{{ signup_form | raw }}
	</div>{# /#poststuff #}
</div>{# /.wrap #}

